.HorizontalLine{
    display: block;
    border: 1px inset;
    overflow: hidden;
    margin:15px;


}
.ImagesPerlindungan{
  margin-top:35px;



}
.PaddingKuy{

  padding-left: 25px;

}
.listpadd{

  margin-bottom:8px;

}
.PaddingKuyPerlindungan{
  padding-left: 123px;


}

.ImagesLeft{
  width:500px;
  height:560px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;

}
.BackgroundColRight{

  width: 606px;
  min-height: 500px;
  box-sizing: border-box;
  padding: 48px 48px 40px;
  margin-bottom: 60px;
  background: #fafafa;

}
.Rectangle{
  padding: 10px 30px;
  margin-left: 10px;
  width: 180px;
  min-height: 58px;
  height: 35px;
  font-size: 16px; 
  line-height: 20px;
  color: #757575;
  text-align: center;
  border: 1px solid #eee;
  background-color: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity,border .2s linear;
}
.Circle{
  height:35px;
  width:35px;
  background-color: #bbb;
  border-radius:50%;
  display:inline-block;

}
.CenteredCircle{
margin-top:5px;
margin-right:5px;


}
.Centered{
  margin-top:20px;
  margin-left:15px;


}
.BigRectangle {
  width:450px;
	height:200px;
  border-style: solid;
	background-color:white;
	border-color:1px black;
}

.ConfirmationRectangle{
  width:450px;
  height:100px;
 border-style:solid;
 margin-top:20px;
 border-color:yellow;


}
.lowerchar{
font-size:11px;


}
.longbutton{
  width:300px;
  height: 40px;
  background-color: orange;




}
