.HorizontalLine{
    display: block;
    border: 1px inset;
    overflow: hidden;
    margin:15px;


}

.PaddingKuy{

  padding-left: 25px;

}
.listpadd{

  margin-bottom:8px;

}
.PaddingKuyPerlindungan{
  padding-left: 123px;


}

.ImagesLeft{


}
.BackgroundColRight{

  width: 606px;
  min-height: 500px;
  box-sizing: border-box;

  margin-bottom: 60px;
  background: #fafafa;

}
.Rectangle{
  padding: 10px 30px;
  margin-left: 10px;
  width: 560px;
  min-height: 58px;
  height: 76px;
  font-size: 16px; 
  line-height: 20px;
  color: #757575;
  text-align: center;
  border: 1px solid #eee;
  background-color: #fff;
  transition: opacity,border .2s linear;
}
.Sticky{
  margin:auto;
  position: fixed;
  max-width:550px;
  height:550px;



}
.Circle{
  height:35px;
  width:35px;
  background-color: #bbb;
  border-radius:50%;
  display:inline-block;

}
.CenteredCircle{
margin-top:5px;
margin-right:5px;


}
.Centered{
  margin-top:20px;
  margin-left:15px;


}
.BigRectangle {
  width:450px;
	height:200px;
  border-style: solid;
	background-color:white;
	border-color:1px black;
}

.ConfirmationRectangle{
  width:450px;
  height:100px;
 border-style:solid;
 margin-top:20px;
 border-color:yellow;


}
.lowerchar{
font-size:11px;


}
.longbutton{
  width:300px;
  height: 40px;
  background-color: orange;

}


.QuantityButton{
    background-color: #fff;
    width: 36px;
    height: 36px;

    color: #424242;

}

.minus{
  width:18px;
  height:5px;
  margin:auto;
  background-color: black;
  opacity: 40%;
  border-radius: 5px;
}
.plus{
  height: 24px;
  width: 24px;
  display: inline-block;
  color: black;
  font-size: 20px;
  margin:auto;

}
.plus::before{
  display:inline-block;
  content:"+";
  text-align: center;
}
.InputQuantity{
  width: 64px;
  height: 36px;
  text-align: center;
  font-size:15px;
  padding-bottom:0;
}
.JumlahRapih{
  padding: 5px;

}
.row .col-lg-1{
padding:0px;
margin:auto;
  
}
.insuranceSection{
  width:100%;
  height:auto;
  background: #fafafa;


}

.InsuranceSectionItem{
  width: 100%;
  min-height: 120px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-top: 0 solid #e0e0e0;
  box-sizing: border-box;
  background: #fff;
  cursor: pointer;
  position: relative;
  
}
.insuranceSection .InsuranceSectionItem .container-fluid .row p
{
  font-size:10px;
  color:#ff6700;
}
.Rectangle .row .FontSizeTotal{
  font-size:20px;
  color:#ff6700;

}
.ButtonBeliSekarang{
  height:50px;
  width:400px;
  font-size:20px;
  background-color:#ff6700;
  color:#fff;

}
.Rectangle .row .col-md-2{

  margin-left:30px;

}
.CircleChat{

  width: 48px;
  height: 48px;
  border-radius:50%;
  border-color: #ff6700;
  background: url(//i01.appmifile.com/webfile/globalimg/custom-service/cus-all.png) no-repeat;

}